@model BatikanSon.Models.Dil

@{
    ViewData["Title"] = "Delete";
}



<div class="panel-form-image d-flex justify-content-center align-items-center">
    <div class="panel-form-container mx-auto">
        <div class="panel-form text-center">
            <h3>Silmek istediğinize emin misiniz?</h3>
            <dl class="row">
               <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.DilAdi)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.DilAdi)
                </dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="DilID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a asp-action="Index" class="button-panel">Panele geri dön</a>
            </form>
        </div>
    </div>

</div>
