<link rel="stylesheet" href="~/css/project.css" />

<div class="home-container">
    <div class="button-container">
        <a class="button" asp-area="Identity" asp-page="/Account/Login">Giriş</a>
        <a class="button" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
    </div>
</div>
