

<div class="index-container">
    <div class="table-box">
        <a asp-area="AdminPanel" asp-controller="Diller" asp-action="Index" class="button-panel">Diller</a>

        <a asp-area="AdminPanel" asp-controller="Mekanlar" asp-action="Index" class="button-panel">Mekanlar</a>

        <a asp-area="AdminPanel" asp-controller="Randevular" asp-action="Index" class="button-panel">Randevular</a>
    </div>
</div>